<div class="contents-title text-center" style="padding-top: 3rem">

<p>
  <h4><%= @quiz.title %></h4>
</p>

<p>
  <%= image_tag @quiz.image.url %>
</p>

<%= link_to '編集', edit_quiz_path(@quiz) %> |
<%= link_to '一覧へ戻る', quizzes_path %>
</div>