<div class="container" style="padding-top: 3rem">
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
<%= link_to '管理者ゲストログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %>
<div>
<div class="container" style="padding-top: 2rem">
<%= image_tag "pocchi2.png", :size =>'600x180' %>
</div>
<div class="texts-wrapper">
  <div class="contents-title text-center" style="padding-top: 3rem">
    <div class="content_area">
      <h1 class="index_title1">POCCHIとは</h1>
      <p class="index_text">人と人との繋がりを感じられる安否確認アプリケーションです。</p>
      <p class="index_text">一日一問、選択式のいろいろな４択の質問に、ポチッとクリックして回答し、その答えをメールで送ることで、元気でいるかの確認や話題作り、好みの把握やプレゼントの参考などにできると共に、アンケートを実施できるアプリケーションです。</p>
      <h2 class="index_title2">このアプリが解決する課題</h2>
      <p class="index_text">それぞれの生活のスタイルや、仕事など環境が異なっていき、離れて暮らす家族がいます。親は子どもが元気に暮らしているか心配です。子どもとしても、親が元気でいるか心配しています。一緒に暮らすことはできなくても、一緒にテレビを観ながら話すような、人と人との繋がりを感じられるツールを作成したいと考えました。少子高齢化を中心に、さまざまな問題を考え、孤独死など悲しい問題を少しでも減らすために、簡単な生存確認、元気かどうかの確認をしながら、親子間・友人間の共通の話題を作れたらと思います。それと同時に、企業向けに、アンケートが集計できるツールとしても活用できると思っています。企業にとってアンケートを実施することは事は重要ですが、とても手間が掛かり、回答を得るユーザーも限られています。ユーザー登録時に、年齢・性別を登録してもらいますので、その情報をもとに、実施したいアンケートを、４択問題で作成し集計することで、ターゲット層の消費者のニーズや動向を把握できます。一人ぼっちを意味するボッチにはさせないという思いと、ポチッと回答するだけなので「POCCHI」と名づけました。</p>
      <hr >
      <h2 class="index_title2">使い方と機能について</h2>
    </div> 
  </div>
</div> 
  <div class="content_area">
    <p class="index_title3">◯ユーザー登録</p>
    <p class="index_text">ニックネーム・性別・誕生年・Eメールを入力します。</p>
    <p class="index_title3">◯グループ作成とグループへの招待</p>
    <p class="index_text">グループ名を入力作成し、招待したい人のメールアドレスを入力すると、招待メールが送られます。複数のグループを作成することができます。</p>
    <p class="index_title3">◯４択の質問と一覧画面と検索機能</p>
    <p class="index_text">今日のPOCCHI画面にいきますと4択の質問があり、解答するとグループ全員にメールが送られます。一覧機能にいくと、グループ全員の解答が見られます。グループ名や質問文であいまい検索することができます。</p>
    <p class="index_title3">◯本日の質問メール</p>
    <p class="index_text">毎日11:30に本日の質問をメールで送ります。お昼休みに、ポチッとしてもらえたらと思います。</p>
    <p class="index_title3">◯お気に入り登録</p>
    <p class="index_text">詳細画面からお気に入り登録できます。お気に入り一覧に行くと、登録した内容が見れます。</p>
  </div>
  <div class="content_area">
    <p class="index_title3">◉管理者によるアンケート質問作成</p>
    <p class="index_text">管理者は質問一覧へいき、アンケートを行いたい質問を新規作成します。質問内容・画像・解答予定日を入力します。家族や友人の好みの把握、ご自身の気に入った質問を登録しておけます。</p>
    <p class="index_title3">◉管理者画面</p>
    <p class="index_text">管理者画面にいくと、ユーザー情報・解答の情報を確認することができ、アンケートの結果を確認することができます。</p>
  </div>
</div> 
