<h2><%= @group.name %>グループの解答がありました!</h2>

<h2><%= @user.name %>さんの解答</h2>

<h2><p>本日の質問</p>
<%= @quiz_title %></h2>

<h2><p>解答<%= @select_answer %></p></h2>

<a href="http://localhost:3000/answers/">みんなの解答の確認</a>

<h3><p>POCCHI</p><h3>


